body{
    margin: 0;
    background-color: rgb(58, 33, 34);
    
    color: rgb(255, 253, 253);
    
    font-family:  Georgia, sans-serif; 
}
header{
    width: auto;
    position: fixed;
    top: 0;
    background-color:inherit; 
    z-index: 9; 
} 
nav > ul{
    width: 100%;
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}
.d-activo{
    display: flex;
}
.d-none{
    display: none;
}
.seccion-selec{
    text-decoration: underline;
}
.navegacion{
    cursor: pointer
}
.contenedor-spinner{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    text-align: center;
    width: auto;
    padding: 0 2%;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.030);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
} 
.copyright{
    color: rgba(119, 136, 153, 0.541);
}
section#listaRecetas{
    width: auto;
    display: flex;
    flex-direction: column;
}
section#listaRecetas > article{
    background-color: rgba(80, 62, 63, 0.438);
    margin: 1% 0;
    cursor: pointer;
}
/*///////////////INICIO///////////////*/
.tarjetas-inicio{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetas-inicio > article{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    background-position:50% 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
}
.tarjetas-inicio > article > .texto-articulo{
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.582);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;

}
.texto-articulo > h2{
    text-transform: uppercase;

}
.contenedor-contacto{
    text-align: center;
}
.contenedor-contacto > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 47, 47, 0.733);
    
}
#btnGenerarCaptcha{
    margin-bottom: 2px;
}
/*////////////////////////////COCKTAILS Y COMIDAS//////////////////////////////////////*/
input#inputBusqueda{
    width: 30vh;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
}
.btn-busqueda-recetas{
    width: 8vh;
    border-radius: 100px;
    border: none;
}
.contenedor-paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-paginacion > button{
    background-color: inherit;
    color: white;
    border: none;
    margin:0 5px;
    text-decoration: underline;
}
/*//////////////////////////////////////TABLA MAGICA///////////////////////////////////*/
form#formularioDeTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form#formularioDeTabla > select{
    width:40vh;
}
.contenedor-botones-form-tabla > button{
    border-radius: 10px;
    border: none;
    margin: 3px;
}
table#tablaRecetas{
    width: 100%;
    
}
table#tablaRecetas > tbody > tr > td > button.btn-tabla{
    background-color: inherit;
    border:none;
    color: white;
    text-decoration: underline;
}
span.estilo-primer-fila{
    font-size: xx-small;
    color: red;
}
/*////////////////////////////VISTA RECETA////////////////////*/
.vista-receta{
    background-color: rgba(255, 255, 255, 0.041);
    padding: 0 10%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1024px){
    body{
        font-size: medium;
    }
    h1{
        font-size: xx-large;
    }
    h2 {
        font-size: large;
    }
    h4{
        font-size: medium;
    }
    header{
        width: 100%;
    }
    nav{
        display: none;
        justify-content: center;
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30vh;
    }
    nav.d-flex{
        display: flex;
    }
    .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
   }
   #btnNavDesplegable{
       background-color: rgb(255, 253, 253);
       border-radius: 5px;
   }
   .contenedor-spinner{
        height: calc(100vh - 20vh - 13vh);
   }
    main{
        margin-top: 12vh; 
    }
    section#listaRecetas{
        padding: 0 2%;
    }
  
    section#listaRecetas > article > p{
        font-size: small;
    }
    /*//////////////INICIO////////////////////*/
    .tarjetas-inicio{
        width: auto;
        height: 50vh; 
    }
    .tarjetas-inicio > article > .texto-articulo{
        height: 8vh;
    }
    .texto-articulo > h2{
        font-size:x-small;
    }
    .formulario-contacto{
        width: auto;
        padding: 0 5%;

    }
    .formulario-contacto > input , textarea{
        width: 100%;
    }
    .formulario-contacto > #captchaContacto{
        width: 35%;
    }
    /*//////////////TABLA MAGICA///////////////*/
    form#formularioDeTabla{
        height: 20vh;
    }
    .contenedor-botones-form-tabla{
        margin-top: 1%;
    }
        
}
@media only screen and (min-width: 1025px){
    body{
        font-size: large;
    }
    header{
        width:90%;
        padding:0 5%;     /*aqui el 5% de un lado mas el 5% del otro da el 10% que le falta al width*/
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 7vh;
    }
    h2{
        font-size: x-large;
    }
    h4{
        font-size: large;
    }
    .logo , nav{
        width: 50%;     /*a los 2 componentes hijos del header les damos el mismo espacio*/
    }
    nav > ul{
        justify-content: space-evenly;
        
    }
    #btnNavDesplegable{
        display: none;
    }
    main{
        width: auto;
        margin-top: 11vh;       /*acorde al espacio del header*/
    }
    footer{
        margin-top: 2%;

    }
    /*////////////////////INICIO////////////////*/
    .tarjetas-inicio{
        height: 82vh;          
        padding: 0 5%;
    }
    .tarjetas-inicio > article{
        width: 100%;
        height: 100%;
        margin: 0 1px;
    }
    .formulario-contacto{
        width: auto;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formulario-contacto > input , textarea{
        width: 50%;
        margin-top: 2px;
    }
    .formulario-contacto > #captchaContacto{
        width: 15%;
    }
    /*/////////////////////////TABLA MAGICA////////////////////*/
    form#formularioDeTabla{
        height: 15vh;
        position: relative;
    }
    .contenedor-botones-form-tabla{
        position: absolute;
        bottom: 0;
    }
    table#tablaRecetas{
        margin-top: 2%;
    }
}