body{
    margin: 0;
    background-color: rgb(58, 33, 34);
    color: rgb(255, 253, 253);
    font-family:  Georgia, sans-serif; 
}
header{
    width: auto;
    position: fixed;
    top: 0;
    background-color:inherit; 
    z-index: 9; 
} 
nav > ul{
    width: 100%;
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.d-activo{
    display: flex;
}
.d-none{
    display: none;
}
main{
    width: auto;
    padding: 0 2%;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.copyright{
    color: rgba(119, 136, 153, 0.541);
}
/*///////////////INICIO///////////////*/
.lista-principal{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista-principal > li > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.contenedor-contacto{
    text-align: center;
}
.contenedor-contacto > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 47, 47, 0.733);
    
}
#btnGenerarCaptcha{
    margin-bottom: 2px;
}
.contenedor-main-favoritos{
    margin-top: 100px;
}

@media only screen and (max-width: 1024px){
    body{
        font-size: medium;
    }
    h1{
        font-size: xx-large;
    }
    h2 {
        font-size: large;
    }
    h4{
        font-size: medium;
    }
    header{
        width: 100%;
    }
    nav{
        display: none;
        justify-content: center;
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30vh;
    }
    nav.d-flex{
        display: flex;
    }
    .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
   }
   #btnNavDesplegable{
       background-color: rgb(255, 253, 253);
       border-radius: 5px;
   }
    main{
        margin-top: 12vh;
    }
    /*//////////////INICIO////////////////////*/
    .lista-principal{
        height: 80vh;
    }
    .lista-principal > li  {
        width: 100%;
        height: 90%;
        margin: 0 1px;
    }
   
    .contenedor-contacto > form > input , textarea{
        width: 80%;
        margin:2px 0;
    }
}

@media only screen and (min-width: 1025px){
    body{
        font-size: large;
    }
    header{
        width:90%;
        padding:0 5%;     /*aqui el 5% de un lado mas el 5% del otro da el 10% que le falta al width*/
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 7vh;
    }
    h2{
        font-size: xx-larger;
    }
    h4{
        font-size: large;
    }
    .logo , nav{
        width: 50%;     /*a los 2 componentes hijos del header les damos el mismo espacio*/
    }
    nav > ul{
        justify-content: space-evenly;
        
    }
    #btnNavDesplegable{
        display: none;
    }
    main{
        width: auto;
        margin-top: 11vh;       /*acorde al espacio del header*/
    }
    footer{
        margin-top: 2%;
    }
    /*////////////////////INICIO////////////////*/
    .lista-principal{
        height: 82vh;           /*mas margenes a la lista de imagenes en la vista desktop*/
        padding: 0 5%;
    }
    .lista-principal > li{
        width: 100%;
        height: 100%;               /*esto se repite en mobile pero veo apropiado repetirlo para futuras modificaciones*/
        margin: 0 1px;
    }
    .contenedor-contacto > form > input , textarea{
        width: 50%;
        margin: 2px 0;
    }
    
}












